@charset "utf-8";
/* CSS Document */
h1 {
	border-style:solid;
	font-weight: bold;
	border-width:3px;
	background-color:#999;
	}
p {
	border-style:solid;
	border-width:1px;
	padding: 3px;
	}
p.one {
	border-style:solid;
	border-width:1px;
	padding: 3px;
	}
p.two {
	border-style:dashed;
	border-width:1px;
	border-color:blue;
	padding: 3px;
	}
a.one{
	border-style:solid;
	font-weight: bold;
	border-width:1px;
	background-color:#999;
	padding: 1px;
	}
a.two{
border-style:dashed;
font-weight: bold;
border-width:1px;
border-color:red;
background-color:#999;
padding: 1px;
}
img {
border-style:solid;
border-width:1px;
width:25%;
padding: 1px;
}
